* {
    box-sizing: border-box;
    margin: 0;  /* Reset rule - sets all elements to x... helpful for making consistent designs*/
    padding: 0;  /* Reset rule*/
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* for history*/
.hidden {
    display: none;
}



body {
    background-color: rgb(245, 245, 245);
}

/* BALL STYLING */

.numberslist li {
    display: inline-block;
    color: rgb(90, 80, 80);
    background-color: rgb(252, 250, 249);
    border-radius: 50%;  
    height: 1.5em;
    width: 1.6em;
    padding: 3px;
    margin-left: 3px;
    margin-right: 1px;
}

/* powerball multiplier*/
.numberslist li:last-child {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 126, 128);
}

/* megamillions megaball*/
.megamillionsnumbers li:nth-last-child(2) {
    color: rgb(255, 255, 255);
    
    background-color: rgb(172, 134, 53);
}

/* megamillions megaplier*/
.megamillionsnumbers li:nth-last-child(1) {
    color: rgb(255, 255, 255);
    background-color: rgb(167, 149, 70);

}

/* powerball power ball*/
.powerballnumbers li:nth-last-child(2) {
    color: rgb(255, 255, 255);
    background-color: rgb(202, 49, 49);   
}

.gobackbutton {
    border: 1px solid white;

}



/* MOBILE */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logocontainer"
    "powerballcontainer"
    "megamillionscontainer"
    "mapcontainer"
    ;
}


.logocontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    ;   
    padding-bottom: 20px;   
    background-color: rgb(245, 245, 245);
    list-style-type: none;
}
        .logo {
            grid-area: logo;           
            margin-left: auto;
            margin-right: auto;
            width: 79px;
            height: 76px;
            background-image: url(http://i67.tinypic.com/kos3p.png)
        }


.powerballcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "powerballname"
    "powerballnumbers"
    "powerballnextdrawing"
    "powerballhistory"
    ;  
    width: 80%;
    padding-bottom: 20px;
    grid-gap: 1px; 
    column-gap: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    min-height: 150px;
    max-height: 250px;
    color: white;
    font-size: 16px;
}

        .powerballname  {
            grid-area: powerballname;
            background-color: rgb(238, 145, 148);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
        }
        .powerballnumbers {
            grid-area: powerballnumbers;
            background-color: rgb(250, 157, 160);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;     
        }
        .powerballnextdrawing {
            grid-area: powerballnextdrawing;
            background-color: rgb(250, 157, 160);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px; 
        }
        .powerballhistory {
            grid-area: powerballhistory;
            background-color: rgb(250, 157, 160);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px; 
        }

.megamillionscontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "megamillionsname"
    "megamillionsnumbers"
    "megamillionsnextdrawing"
    "megamillionshistory"
    ;    
    width: 80%;
    padding-bottom: 20px;
    grid-gap: 1px; 
    column-gap: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    min-height: 150px;
    max-height: 250px;
    color: white;
    font-size: 16px;

}
        .megamillionsname {
            grid-area: megamillionsname;
            background-color: rgb(230, 182, 106);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
        }
        .megamillionsnumbers {
            grid-area: megamillionsnumbers;
            background-color: rgb(243, 188, 100);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        .megamillionsnextdrawing {
            grid-area: megamillionsnextdrawing;
            background-color: rgb(243, 188, 100);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px; 
        }
        .megamillionshistory {
            grid-area: megamillionshistory;
            background-color: rgb(243, 188, 100);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px; 
        }

.powerballhistorysection {
    background-color: rgb(155, 167, 179);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 50%;
    height: auto;
    text-align: center;
    color: white;
    min-width: 250px;
    border: 6px solid rgb(155, 167, 179);
}

.megamillionshistorysection {
    background-color: rgb(155, 167, 179);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 50%;
    height: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    min-width: 250px;
    border: 6px solid rgb(155, 167, 179);
}




.mapcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "maparea maparea"
    "maparea maparea"    
    "maparea maparea"
    "maparea maparea"
    "maplocations maplocations"
     ;    
    width: 80%;
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    min-height: 150px;
    max-height: 190px;
    color: white;
    font-size: 16px;
}
        .maparea {
            grid-area: maparea;
            background-color: rgb(125, 128, 125);
            font-size: 12px;
        }
        .maplocations {
            grid-area: maplocations;
            background-color: rgb(132, 176, 213);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }


@media only screen and (min-width: 600px)  {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logocontainer logocontainer"
        "powerballcontainer megaballcontainer"
        "powerballcontainer megaballcontainer"
        "mapcontainer mapcontainer"
 
        ;
    }

    .logocontainer {
        grid-area: logocontainer;
    }    
   
    .powerballcontainer {
       
        width: 80%;
        padding-bottom: 20px;
        grid-gap: 1px; 
        column-gap: 1px;
        margin-right: 20px;
        max-width: 400px;
        min-height: 150px;
        max-height: 250px;
        color: white;
        font-size: 14px;
    }
              
    
    .megamillionscontainer {
        width: 80%;
        padding-bottom: 20px;
        grid-gap: 1px; 
        column-gap: 1px;
        text-align: center;
        margin-left: 20px;
        max-width: 400px;
        min-height: 150px;
        max-height: 250px;
        color: white;
        font-size: 16px;
    }

.mapcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "maparea"
    "maparea"
    "maparea" 
    "maparea" 
    "maparea"
    "maplocations"
    ;
   grid-column-end: span 2;
   max-width: 93ch;
   max-height: 350px;
}
            .maparea {
                grid-area: maparea;
                background-color: rgb(125, 128, 125);

            }
            .maplocations {
                grid-area: maplocations;
                background-color: rgb(132, 176, 213);
                font-size: 14px;
            }
}

